# URL da API no Netlify
VITE_API_URL=https://seu-projeto-api.netlify.app/.netlify/functions

# URL do Firebase (para autenticação no index.html do fórum)
VITE_FIREBASE_URL=https://SEU-PROJETO.firebaseio.com

# URL do front no Vercel (para redirect do fórum)
VITE_FRONTEND_URL=https://seu-projeto.vercel.app